.icon_list {
	border: 0px;
	vertical-align: middle;
	margin-right: 10px;
}

.severity_1 {
	/* Information */
	background-color: #CCE2CC;
    display: block;
    color: #000000;
    font-size: 12px;
}

.severity_2 {
	/* Warning */
	background-color: #EFEFCC;
    display: block;
    color: #000000;
    font-size: 12px;
}

.severity_3{
	/* Average */
	background-color: #DDAAAA;
    display: block;
    color: #000000;
    font-size: 12px;
}

.severity_4 {
	/* High */
	background-color: #FF8888;
    display: block;
    color: #000000;
    font-size: 12px;
}

.severity_5 {
	/* Disaster */
	background-color: #FF0000;
    display: block;
    color: #000000;
    font-size: 12px;
}

.event_list_0 {
    /* Event: OK */
    color: green;
}

.event_list_1 {
    /* Event: problem */
    color: red;
}

.event_list_2 {
    /* Event: acknowleged */
    color: orange;
}

li.small {
    /* Small list items. For instance, at the Active Triggers list */
    font-size: 12px;
}

li.title {
    /* A title-like element */
    color: #000000;
}