.icon_list {
	border: 0px;
	vertical-align: middle;
	margin-right: 10px;
}

.severity_1 {
	/* Information */
	color: #204709;
}

.severity_2 {
	/* Warning */
	color: #F7A400;
}

.severity_3{
	/* Average */
	color: #FF1A00;
}

.severity_4 {
	/* High */
	color: #BD0A02;
}

.event_list_0 {
    /* Event: OK */
    color: green;
}

.event_list_1 {
    /* Event: problem */
    color: red;
}

.event_list_2 {
    /* Event: acknowleged */
    color: orange;
}

li.small {
    /* Small list items. For instance, at the Active Triggers list */
    font-size: 12px;
}